.comments {
  padding: 0;

  &_item {
    border-bottom: 1px solid #ccc;
    padding: 6px 12px;

    &:last-child {
      margin-bottom: 0;
      border-bottom: 0;
    }

    &_body {
      display: flex;
    }

    &_content {
      margin-left: 12px;
      font-size: .85em;
      white-space: pre-wrap;
    }

    &_name {
      font-size: 1.2em;
      font-weight: bold;
    }

    &_created {
      font-size: .7em;
      text-align: right;
      color: gray;
    }
  }

  &_container {
    max-height: 220px;
    overflow: auto;
    word-break: break-all;
  }

  &_empty {
    font-weight: bold;
    text-align: center;
    padding: 6px;
  }

  &_form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 12px 0;
    border-top: 1px solid #ccc;

    &_textarea {
      flex: 1;
      margin-right: 12px;
    }
  }
}